
.jumbotron{
    text-align: center;
    font-family: sans-serif;
    text-decoration-color: beige;
    width: 100%;
}
h2{
    color: beige;

}
#design {
    display: none;
}
#development {
    display: none;
}
#management {
    display: none;
}
.icon{
    align-items: center;
}